<h1>Listing radios</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Url</th>
    <th>Gender</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @radios.each do |radio| %>
  <tr>
    <td><%= radio.name %></td>
    <td><%= radio.website %></td>
    <td><%= radio.url %></td>
    <td><%= radio.gender %></td>
    <td><%= radio.location_id %></td>
    <td><%= link_to 'Show', radio %></td>
    <td><%= link_to 'Edit', edit_radio_path(radio) %></td>
    <td><%= link_to 'Destroy', radio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Radio', new_radio_path %>
