<div style="margin-bottom: 10px">
  <h2 style="display: inline"><%= @radio.name %></h2>
  <% if (current_user != nil) %>
    <span id="add-to-favorites" name="<%= @radio.id %>">[Add to favorites]</span>
  <% end %>
</div>

<!-- Show breadcrum Continent >> Country >> Location -->
<b><%= location_breadcrumb(@radio) %></b>
<br/><br/>

<div id="radio-station-data">
    <table>
      <tr>
        <td><b>Website</b>:</td>
        <td><span id="website-url"><a href="<%= @radio.website %>"><%= @radio.website %></a></span></td>
        <% if (current_user != nil) %>
          <td><span style="color: #53a3f6" id="radio-station-data-edit" name="<%= @radio.id %>">[Edit]</span></td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
      </tr>
      <tr>
        <td><b>Tags</b>:</td>
        <td colspan="2"><span id="tag-list"><%= @radio.gender %></span></td>
      </tr>
      <tr>
        <td><b>URL</b>:</td>
        <td colspan="2"><span id="radio-url"><%= @radio.url %></span></td>
        <!-- <span class="formw"><input id="button_url_ok" type="button" value="OK"/></span> -->
      </tr>
    </table>
</div>

<br/>

<div id="radioplayer">
    <object id="MediaPlayer"
            codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112"
            type="application/x-oleobject"
            standby="Loading radio player..."
            classid="CLSID:22D6f312-B0F6-11D0-94AB-0080C74C7E95"
            height="50" width="150">

        <embed type="application/x-mplayer2"
                pluginspage="http://www.microsoft.com/Windows/Downloads/Contents/Products/MediaPlayer/"
                src="<%= @radio.url %>"
                transparentatstart="0" autostart="1" animationatstart="1"
                showcontrols="true" showaudiocontrols="1" showpositioncontrols="0"
                autosize="0" showstatusbar="1" displaysize="false"
                height="52" width="300">
    </object>
</div>

<%= render :partial => "ratings/rate", :locals => { :asset => @radio } %>

<hr/>

<%= render :partial => "comments/comments" %>
