<!-- Sort options -->
<%= render 'search_options' %>

<!-- Menu -->
<br/>
<div>
<% @countries_by_letter.map do |letter, countries| %>
  <span><a href="#<%= letter %>"><%= letter %></a></span>
<% end %>
</div>

<% @countries_by_letter.map do |letter, countries| %>
  <a name="<%= letter %>">
    <h2 style="color: red"><%= letter %></h2>
  </a>
  <hr/>
  <% countries.each do |country| %>
    <p><%= link_to country.country, url_for(:controller => 'countries', :id => country.country) %> (<%= country.total %>)</p>
  <% end %>
<% end %>

<br />
