<!-- Sort options -->
<%= render 'search_options' %>

<!-- Navigation menu -->
<br/>
<%= render 'menu_continents' %>

<% @countries_by_continent.map do |continent, countries| %>
  <a name="<%= continent %>">
    <h2 style="color: red"><%= continent %></h2>
  </a>
  <hr/>
  <% countries.each do |country| %>
    <span style="display: block"><%= link_to country, url_for(:controller => 'countries', :id => country) %></span>
  <% end %>
<% end %>

<br />
