<!-- Sort options -->
<%= render 'search_options' %>

<!-- Country name -->
<h1><%= @country %></h1>

<!-- Breadcrumb -->
<b><%= country_breadcrumb(@country) %></b>

<!-- Show menu -->
<%= render 'stations_nav_menu' %>

<% @show_location = session[:sort_order] != :location %>

<br/>
<% @stations.map do |key, stations| %>
  <a name="<%= key %>"></a>

  <div class="margin-top:16px">
    <span style="font-size: 16px; color: red"><%= key %> </span>
    <a style="font-size: 10px" href="#stations-nav-menu">[return]</a>
  </div>
  <ul class="stations-list">
    <%
      puts "show_location mierda: #{@show_location}"
      stations.sort! { |a,b| a.name.downcase <=> b.name.downcase }
      stations.each do |station| %>
        <li style="display: table-row">
          <span style="display: table-cell; width: 300px"><%= link_to station.name, station %></span>
          <span style="display: table-cell; width: 200px"><%= station.gender %></span>
          <% if @show_location %>
            <span style="display: table-cell; width: 200px"><%= station.location.location %></span>
          <% end %>
        </li>
      <% end %>
  </ul>
<% end %>
