<!-- Sort options -->
<%= render 'search_options' %>

<!-- Show menu -->
<%= render 'stations_nav_menu' %>

<br/>
<% @stations.map do |key, stations| %>
  <a name="<%= key %>"></a>
  <div class="margin-top:18px">
    <span style="font-size: 18px; color: red"><%= key %> </span>
    <a style="font-size: 10px" href="#stations-nav-menu">[return]</a>
  </div>
  <ul class="stations-list">
    <%
      stations.sort! { |a,b| a.name.downcase <=> b.name.downcase }
      stations.each do |station| %>
        <li><%= link_to station.name, station %></li>
      <% end %>
  </ul>
<% end %>
