<!DOCTYPE html>
<html>
<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>Radiogugu</title>

    <!-- Include css & javascript -->
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>

    <style type="text/css">
      body {
        background: white;
      }
      div.yui-b {
        margin-left: 100px;
        margin-right: 100px;
      }
    </style>

</head>

<body>

<div id="doc3" class="yui-t7">

    <div id="hd">
        <!-- Header -->
        <div>
            <%= image_tag("radio_gugu_logo_mini3.png") %>
            <% if user_signed_in? %>
              <span style="float: right; padding-right: 20px; color: white">
                <span><%= current_user.username %>, </span>
                <%= link_to "Sign out", destroy_user_session_path %>
              </span>
            <% else %>
              <%= link_to image_tag("sign_up.png", :width => "120px", :style => "float: right; padding-right: 10px" ), new_user_registration_path %>
            <% end %>
        </div>
  </div>


  <div class="menubar">
    <ul class="tabs">
      <%
        tabs = Hash.new
        tabs[:home] = url_for(:controller => '/home')
        tabs[:countries] = countries_path
        tabs[:gender] = radios_path

        [:home, :countries, :gender].each do |key|
          if session[:active_tab] == nil || key == session[:active_tab] %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
          <%= link_to key, tabs[key] %></li>
        <% end %>
      <!--
      <li><%= link_to "Home", url_for(:controller => '/home') %></li>
      <li><%= link_to "Countries", countries_path %></li>
      <li><%= link_to "Gender", radios_path %></li>
      -->
    </ul>

    <form>
      <input type="text" value="Search this site" />
      <input type="submit" value="Go!" />
    </form>
  </div>

    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                <!-- Main content -->
                <%= yield %>
            </div>
        </div>

        <!-- Secondary content -->
        <div style="clear: both" class="yui-b">

    </div>
    </div>

    <!-- Footer -->
    <div id="ft" style="background: color">
    <span><b>Contact us</b></span>
      <div id="contact-list">
        <span>info(at)radiogugu.com</span>
        <span>twitter radiogugu</span>
        <span>facebook radiogugu</span>
      </div>
      <div>
        <p>Copyright RadioGugu @ 2011</p>
      </div>
    </div>

</div>

</body>
</html>
